<section id="solicitudesAdopcion" > 
    <div class="container">
        <h2 class="section-heading mb-4">Solicitudes de adopción</h2>
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Cedula</th>
                <th scope="col">Nombres</th>
                <th scope="col">Apellidos</th>
                <th scope="col">Edad</th>
                <th scope="col">Genero</th>
                <th scope="col">Direccion</th>
                <th scope="col">Cuidad</th>
                <th scope="col">Telefono</th>
                <th scope="col">Celular</th>
                <th scope="col">Mascota</th>

              </tr>
            </thead>
            
            <tbody>
                <tr *ngFor="let solicitud of solicitudes" data-toggle="modal" data-target="#modal-solicitud">
                    <th scope="row">{{solicitud.id}}</th>
                    <td>{{solicitud.cedula}}</td>
                    <td>{{solicitud.nombres}}</td>
                    <td>{{solicitud.apellidos}}</td>
                    <td>{{solicitud.edad}}</td>
                    <td>{{solicitud.genero}}</td>
                    <td>{{solicitud.direccion}}</td>
                    <td>{{solicitud.ciudad}}</td>
                    <td>{{solicitud.telefono}}</td>
                    <td>{{solicitud.celular}}</td>
                    <td>{{solicitud.mascota}}</td>
                </tr>
            </tbody>


          </table>
    </div>
</section>


<div class="modal" id="modal-solicitud" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" id="modal">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Información de la Solicitud</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col-6">
              <h5>Solicitante</h5>
              <label for="">Cedula</label><br>
              <label for="">Nombres</label><br>
              <label for="">Apellidos</label><br>
              <label for="">Nombres</label><br>
              <label for="">Edad</label>
            </div>
            <div class="col-6">
              <h5>Macota</h5>
              <label for="">Nombre</label><br>
              <label for="">Nombres</label><br>
              <label for="">Apellidos</label><br>
              <label for="">Nombres</label><br>
              <label for="">Edad</label>
            </div>
          </div>
        </div>
    
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-success">Guardar</button>
      </div>
    </div>
  </div>
</div>
