<section id="adoptar" class="col-12">
    <h2 class="text-center">¡Adopta una mascota!</h2>
</section>

<section id="filtros" class="col-12 d-flex flex-column align-items-center">
    <form class="col-8 d-flex justify-content-center">
        <p class="text-center">
            <label for="tipo">Tipo</label>
            <select name="tipo" id="tipo">
                <option value="">--</option>
                <option *ngFor="let tipo of tipos" value="{{tipo}}">{{tipo}}</option>
            </select>
        </p>
        <p class="text-center">
            <label for="raza">Raza</label>
            <select name="raza" id="raza">
                <option value="">--</option>
                <option *ngFor="let raza of razas" value="{{raza}}">{{raza}}</option>
            </select>
        </p>
        <p class="text-center">
            <label for="etapa">Etapa</label>
            <select name="etapa" id="etapa">
                <option value="">--</option>
                <option *ngFor="let etapa of etapas" value="{{etapa}}">{{etapa}}</option>
            </select>
        </p>
        <p class="text-center">
            <label for="sector">Sector</label>
            <select name="sector" id="sector">
                <option value="">--</option>
                <option *ngFor="let sector of sectores" value="{{sector}}">{{sector}}</option>
            </select>
        </p>
    </form>
    <div class="d-flex">
        <button class="btn btn-primary mr-1 font-weight-bold" (click)="buscar()">Buscar</button>
        <button class="btn btn-primary font-weight-bold" (click)="reiniciar()">Reiniciar</button>
    </div>

    <h4 id="mensaje"></h4>

</section>
<!--div id="search-component">
    <h4><label for="search-box">Buscar por raza</label></h4>
    <input #searchBox id="search-box" input="search(searchBox.value)"/>
    <ul class="search-result">
        <li *ngFor="let animal of animals$ | async">
            <a routerLink="/detail/{{hero.id}}">
                {{hero.name}}
              </a>
        </li>
    </ul>
</div-->

<section id="lista-animals" class="container">
    <div class="row">
        <div *ngFor="let mascota of animals" class="card col-5 mx-auto">
            <div class="d-flex flex-row">
                <img   src="../../../../assets/img/{{mascota.tipo}}.jpg" alt="Card image cap">
                <div class="card-body">
                    <a routerLink="/detalle-mascota/{{mascota.id}}">
                        <h5 class="card-title">{{mascota.nombre | titlecase}}</h5>
                    </a>
                    <p class="card-text">{{mascota.tipo | titlecase}}</p>
                    <p class="card-text">{{mascota.raza | titlecase}}</p>
                    <p class="card-text"> <strong>Esterilizado: </strong>  {{mascota.esterilizado | titlecase }} <strong class="ml-5">{{mascota.edad}} Años</strong> </p>

                </div>
            </div>

        </div>

    </div>
</section>