
<section id="adoptar" class="col-12">
    <h2 class="text-center">¡Adopta una mascota!</h2>
</section>

<section id="filtros" class="col-12 d-flex flex-column align-items-center">
    <form class="col-8 d-flex justify-content-center">
        <p class="text-center">
            <label for="tipo">Tipo</label>
            <select name="tipo" id="tipo">
                <option value="">--</option>
                <option *ngFor="let tipo of tipos" value="{{tipo.tipo}}">{{tipo.tipo}}</option>
            </select>
        </p>
        <p class="text-center">
            <label for="raza">Raza</label>
            <select name="raza" id="raza">
                <option value="">--</option>
                <option *ngFor="let raza of razas" value="{{raza.raza}}">{{raza.raza}}</option>
            </select>
        </p>
        <p class="text-center">
            <label for="etapa">Etapa</label>
            <select name="etapa" id="etapa">
                <option value="">--</option>
                <option *ngFor="let etapa of etapas" value="{{etapa.etapa}}">{{etapa.etapa}}</option>
            </select>
        </p>
        <p class="text-center">
            <label for="sector">Sector</label>
            <select name="sector" id="sector">
                <option value="">--</option>
                <option *ngFor="let sector of sectores" value="{{sector.sector}}">{{sector.sector}}</option>
            </select>
        </p>
    </form>
    <button class="btn btn-primary">Buscar</button>
    <h4 id="mensaje"></h4>
    
</section>

<section id="lista-mascotas" class="col-12">
    <div class="container">
        <h3>Mascotas</h3>
        <div *ngFor="let mascota of mascotas" class="card">
            <div class="d-flex flex-row">
                <img src="../../../../assets/img/perro.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Nombre: {{mascota.nombre}}</h5>
                    <p class="card-text">Tipo: {{mascota.tipo}}</p>
                    <p class="card-text">Raza: {{mascota.raza}}</p>
                </div>
                <a class="btn btn-secondary d-flex align-items-center" (click)="toggleDetails(mascota.id)"><i class="fa fa-wpforms"></i></a>
            </div>
            <app-detalle-inline [mascota]="mascota" id="{{mascota.id}}" class="content"></app-detalle-inline>
        </div>
        
    </div>
</section>