

<section id="information">
    <div class="container">
        <div class="text">
            <h1 class="section-heading text-uppercase">Grupo de proteccion animal (GPA)</h1>
        </div>

        <div class="row align-items-center">
            <div class="col-12 col-lg-9">
                <h3>Perfil de la fundación</h3>
                <p class="text-justify">
                    El Grupo Protección Animal Ecuador, GPA, se fundó y legalizó en Guayquil el 3 de 
                    agosto de 1984 ante el Ministerio de Inclusión Social y Económica bajo la figura 
                    original de asociación y posteriormente reformada a fundación el 2 de marzo de 2005 
                    con Acuerdo Ministerial # 4883, como una entidad apolítica, arreligiosa, con 
                    personería jurídica, de derecho privado y sin fines de lucro, fundada para la 
                    defensa y protección de los animales.
                </p>
            </div>
            <div class="col-12 col-lg-3">
                <img id="img-gpa" class="img-fluid mx-auto d-block" src="assets/img/LOGO_GPA.png" alt="Logo GPA" />
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h3>Misión</h3>
                <p class="text-justify">
                    Promovemos la protección y el bienestar de los animales mediante acciones directas y la 
                    concienciación de la comunidad en el respeto que merecen y se debe tener hacia las demás especies.
                </p>

                <h3>Visón</h3>
                <p class="text-justify">
                    Ser una organización autosustentable, reconocida como referente nacional en bienestar animal, 
                    responsable del cambio en la relación humano – animal en el Ecuador.
                </p>
            </div>
        </div>
    </div>
</section>



<section class="page-section bg-light" id="team">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Nuestro grandioso grupo</h2>
            <h3 class="section-subheading text-muted">Grupo desarrollador de la plataforma web</h3>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="team-member">
                    <img id="Josue" class="mx-auto rounded-circle" src="assets/img/team/Josue.jpg" alt="Josue Davalos" />
                    <h4>Josue Davalos</h4>
                    <p class="text-muted">Lead Designer</p>
                    <a class="btn btn-dark btn-social mx-2" target="_blank" href="https://www.twitter.com/josuedavalosc"><i class="fa fa-twitter"></i></a>
                    <a class="btn btn-dark btn-social mx-2" target="_blank" href="https://www.facebook.com/josue.davaloscarrera"><i class="fa fa-facebook-f"></i></a>
                    <a class="btn btn-dark btn-social mx-2" target="_blank" href="https://www.instagram.com/josuedavalosc/"><i class="fa fa-instagram"></i></a>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="assets/img/team/Bryan.PNG" alt="Bryan Sanchez" />
                    <h4>Bryan Sanchez</h4>
                    <p class="text-muted">Lead Marketer</p>
                    <a class="btn btn-dark btn-social mx-2" target="_blank" href="#!"><i class="fa fa-twitter"></i></a>
                    <a class="btn btn-dark btn-social mx-2" target="_blank" href="#!"><i class="fa fa-facebook-f"></i></a>
                    <a class="btn btn-dark btn-social mx-2" target="_blank" href="#!"><i class="fa fa-instagram"></i></a>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="assets/img/team/Erick.jpeg" alt="Erick Pulla" />
                    <h4>Erick Pulla</h4>
                    <p class="text-muted">Lead Developer</p>
                    <a class="btn btn-dark btn-social mx-2" target="_blank" href="#!"><i class="fa fa-twitter"></i></a>
                    <a class="btn btn-dark btn-social mx-2" target="_blank" href="#!"><i class="fa fa-facebook-f"></i></a>
                    <a class="btn btn-dark btn-social mx-2" target="_blank" href="#!"><i class="fa fa-instagram"></i></a>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="assets/img/team/Eunice.jpg" alt="Eunice Galvez" />
                    <h4>Eunice Galvez</h4>
                    <p class="text-muted">Lead Developer</p>
                    <a class="btn btn-dark btn-social mx-2" target="_blank" href="#!"><i class="fa fa-twitter"></i></a>
                    <a class="btn btn-dark btn-social mx-2" target="_blank" href="#!"><i class="fa fa-facebook-f"></i></a>
                    <a class="btn btn-dark btn-social mx-2" target="_blank" href="#!"><i class="fa fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 mx-auto text-center"><p class="large text-muted">
                Proyecto de los estudiantes de la materia Desarrolo de Aplicaciones Web y Moviles (DAWN) del termino I 2020 de la 
                Escuela Superior Politécnica del Litoral, ESPOL.
            </p></div>
        </div>
    </div>
</section>

