<section id="information">
    <div class="container">

        <div *ngIf="animal">
            <div class="card">
                <div class="row">

                    <img class="card-img-top mx-auto col-3" src="../../../../assets/img/perro.jpg" alt="Imagen de la mascota">
                    
                    <div class="card-body col-9">
                        <h5 id="nombre" class="card-title">{{animal.nombre | titlecase}}</h5>
                        <div id="tipo" >
                            <p class="card-text">{{animal.tipo | titlecase}}</p>
                        </div>
                        <div id="raza" >
                            <img [src]="'assets/img/iconos/detalles_mascota/huella.png'" class="mr-2"  alt="huella de animal" />
                            {{animal.raza | titlecase}}
                        </div>
                        <div id="edad">
                            <img [src]="'assets/img/iconos/detalles_mascota/calendario.png'" class="mr-2"  alt="calendario" />
                            {{animal.edad}} años
                        </div>
                        <div id="sexo">
                            <img [src]="'assets/img/iconos/detalles_mascota/genero.png'" class="mr-2"  alt="simbolos de genero" />
                            {{animal.sexo | titlecase}}
                        </div>
                    </div>
                </div>
                    
                <div class="row mx-auto">
                    <button class="btn btn-dark ml-3 mr-3" (click)="goBack()">atrás</button>
                    <button class="btn btn-dark" data-toggle="modal" data-target="#modal-solicitud">Adoptar</button>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="modal" id="modal-solicitud" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" id="modal">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Solicitud de adopción</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            
                <div class="container-fluid" id="ponerAdopcion">
                    <div class="row justify-content-center">
                        <div class="col-11 col-sm-9 col-md-9 col-lg-10 text-center card-solicitud">
                            <form id="msform">
                                <fieldset>
                                    <div class="form-card">
                                        <h2 class="fs-title mb-3">Información personal</h2> 
                                        
                                        <div class="from-row mx-md-n1">
                                            <label class="col-3 d-none d-xl-inline-block">Cédula</label> 
                                            <label class="col-4 ml-4 d-none d-xl-inline-block" for="uname">Nombres</label>
                                            <label class="col-4 ml-4 d-none d-xl-inline-block" for="ulastname">Apellidos</label> 
                                        </div>
                                        <div class="form-row">
                                            <div class="col-12 col-lg-3"><input type="text" id="cedula" name="user-cedula" placeholder="Cédula" /></div>
                                            <div class="col-12 col-lg-4 ml-lg-4"><input type="text" id="uname" name="uname" placeholder="Nombres" /></div>
                                            <div class="col-12 col-lg-4 ml-lg-4"><input id="ulastname" type="text" name="ulastname" placeholder="Apellidos" /></div>   
                                        </div>
                                        
                                        <div class="form-row">
                                            <label class="col-3 ml-lg-1 d-none d-xl-inline-block">Fecha Nacimiento</label>
                                            <label class="col-2  d-none d-xl-inline-block" for="gender">Género</label> 
                                        </div>
                                        <div class="form-row">
                                            <div class="col-7 col-lg-2 ml-lg-0 user-age"> <input type="text" onfocus="(this.type='date')" id="user-age" name="user-age" placeholder="Fecha Nacimiento" /> </div>
                                            <div class="col-5 col-lg-1 ml-lg-5">
                                                <select class="list-dt" id="gender" name="gender">
                                                    <option selected>Género</option>
                                                    <option>Masculino</option>
                                                    <option>Femenino</option>
                                                    <option>Otros</option>
                                                </select>
                                            </div> 
                                        </div>

                                        <div class="from-row">
                                            <h4 class="mt-2 sm-mt-4">Contactos</h4>
                                            <label class="col-5 d-none d-xl-inline-block" for="email">Correo</label>
                                            <label class="col-3 ml-md-4 d-none d-xl-inline-block" for="phone">Teléfono</label> 
                                            <label class="col-3 ml-md-4 d-none d-xl-inline-block" for="celular">Celular</label> 
                                        </div>
                                        <div class="form-row">
                                            <div class="col-12 col-lg-5"><input type="email" id="email"  name="email" placeholder="Correo" /> </div>
                                            <div class="col-12 col-lg-3 mx-auto mx-xl-4"><input type="tel" name="phone" id="phone" placeholder="Telefono"></div>
                                            <div class="col-12 col-lg-3 mx-auto mx-xl-0"><input type="tel" name="celular" id="celular" placeholder="Celular"></div>
                                        </div>
    
                                        <div class="from-row">
                                            <label class="col-5 d-none d-xl-inline-block" for="uname">Dirección</label>
                                            <label class="col-5 ml-lg-4 d-none d-xl-inline-block" for="user-cuidad">Ciudad</label>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-12 col-xl-5"><input type="text" name="address" placeholder="Dirección" /></div>
                                            <div class="col-12 col-lg-3 ml-lg-4"><input type="text" id="user-cuidad" name="user-cuidad" placeholder="Cuidad" /></div>
                                        </div>
    
                                    </div> 
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            
      
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-success">Enviar</button>
        </div>
      </div>
    </div>
</div>