img{
    width: 175px;
    height: auto;
}

.carousel-indicators li{
    background-color: black;
}

.carousel-item.active{
    display: flex;
    justify-content: center;
}

/* div > button {
    padding: 30px;
    background-color: #eee;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    font: icon; 
  } */

.card-title{
    text-align: center;
    padding: 20px 10px 5px ;
}

.p {
    margin-bottom: 0.5rem;
    border-bottom: 1px solid;

}

.h5 > p{
    color: #6c757d;
}


div#tipo p{
    color: #7c3c21;
    font-weight: bold;
    font-size: large;
}

div.card-body div{
    padding: 10px;
}

div.card-body img{
    width: 20px;
}


div.container{
    padding: 20px 10px;
}

div.card{
    border-style: none;
}
@media (max-width: 768px){
    #information div{
        flex-direction: column;
        align-items: center;
    }

    .card-body{
        max-width: 100%!important;
    }
    
}

*{
    font-family: montserrat;
}

#msform {
    text-align: center;
    position: relative;
    margin-top: 20px
}

#msform fieldset .form-card {
    background: white;
    border: 0 none;
    border-radius: 0px;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
    padding: 20px 40px 30px 40px;
    box-sizing: border-box;
    width: 94%;
    margin: 0 3% 20px 3%;
    position: relative
}

#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding-bottom: 20px;
    position: relative
}

#msform fieldset:not(:first-of-type) {
    display: none
}

#msform fieldset .form-card {
    text-align: left;
    color: #9E9E9E
}

#msform input,
#msform textarea {
    padding: 0px 8px 4px 8px;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0px;
    margin-bottom: 25px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 16px;
    letter-spacing: 1px
}

#msform input:focus,
#msform textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: none;
    font-weight: bold;
    border-bottom: 2px solid skyblue;
    outline-width: 0
}




select.list-dt {
    border: none;
    outline: 0;
    border-bottom: 1px solid #ccc;
    padding: 2px 5px 3px 5px;
    margin: 2px;
}

select.list-dt:focus {
    border-bottom: 2px solid skyblue
}

.card {
    z-index: 0;
    border: none;
    border-radius: 0.5rem;
    position: relative
}

.fs-title {
    font-size: 25px;
    color: #2C3E50;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: left
}


#location::before{
    font-family: FontAwesome;
    content: "\f041"; 
    font-size: 150%;
}


.fit-image {
    width: 100%;
    object-fit: cover;
}

label{
    color: #2C3E50;
    font-weight: bold;
    margin-left: -.5%;
}

#gender{
    max-width: 175%;
}

#modal{
    max-width: 80%;
    max-height: auto;
}

#map {
    height: 460px;
}

#ponerAdopcion{
    min-height: 90%;
    height: 90%;
}

.card-solicitud{
    min-width: 100% !important;

}



@media (min-width: 990px){
    #user-age{
        width: 110% !important;
    }
}
@media (min-width: 990px){
    #user-age{
        width: 120% !important;
    }
    #gender{
        width: 275% !important;
    }
} 