
<section id="reportes_graficos"> 
    <div class="container">
        <h1 class="section-heading">Estadisticas</h1>

        <div class="row">
            <div class="col-12 col-lg-6">
            <h5 class="section-subheading text-muted text-center">Cantidad de adopciones por mascota</h5>
                <canvas id="reporte_adopciones"></canvas>
            </div>
            <div class="col-12 col-lg-6">
            <h5 class="section-subheading text-muted text-center">Cantidad de adopciones por Asociación</h5>
                <canvas id="reporte_adopciones_por_asociacion"></canvas>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-12">
                <h5 class="section-subheading text-muted text-center">Cantidad de adopciones por mes</h5>
                <canvas class="mx-auto" id="reporte_adopciones_por_fecha"></canvas>
            </div>
        </div>

    </div>

</section>

