img{
    width: 175px;
    height: auto;
}

.carousel-indicators li{
    background-color: black;
}

.carousel-item.active{
    display: flex;
    justify-content: center;
}

@media (max-width: 768px){
    .card-body{
        max-width: 100%!important;
    }
    
}