<!DOCTYPE html>

<html lang="es">
<head>
    <meta charset="utf-8" />
    <title>AdoptMe</title>
</head>


<div id="login-container" class="container col-11 col-lg-6 border border-light mb-5 mt-5" >
    <div class="row">
        <div class="col-12 text-center">
            <img src="../../../assets/img/LOGO_GPA.png"/>
        </div>

        <div class="col-12 text-center">
            <h3>Registrate con</h3>
        </div>
            
        <div class="row mx-auto mb-3 mt-2">
            <a href="#!" class="col-12 mb-2 mx-auto btn btn-facebook"><i class="fa fa-facebook"></i> Facebook</a>
            <a href="#!" class="col-12 mb-2 mx-auto btn btn-light"><i class="fa fa-google"></i> Google</a>
            <a href="#!" class="col-12 mb-2 mx-auto btn btn-twitter"><i class="fa fa-twitter"></i> Twitter</a>
        </div>
    </div> 
    
    <div class="row mx-auto mb-5">
        <div class="col-12 col-lg-8 mx-auto">
            <div class="card">
                <div class="card-body">
                    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <label for="username" class="font-weight-bold">Usuario</label>
                            <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                            <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                                <div *ngIf="f.username.errors.required">Usuario requerido</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password" class="font-weight-bold">Contraseña</label> <a id="forget-pwd" href="#" class="ml-1"> La olvidaste?</a>
                            <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                <div *ngIf="f.password.errors.required">Contraseña requerida</div>
                            </div>
                        </div>
                        
                        
                        <div class="row" id="botones">
                            <br>
                            <div *ngIf="error" id="errorCont" class="alert alert-danger mt-3 mb-0">{{error}}</div>
                            <br>
                            <button [disabled]="loading" class="btn btn-primary mx-auto font-weight-bold">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                Iniciar Sesion
                            </button>
                            
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-12 text-center">
            <span class="txt2">No eres miembro?</span>
            <a href="registrar" class="txt2 bo1 ml-2">Registrate ahora</a>
        </div>
    </div>
               
</div>