<!DOCTYPE html>

<html lang="es">
<head>
    <meta charset="utf-8" />
     
    <title>AdoptMe</title>
</head>




<section id="cards">
  <h2 class="text-center">¿Como puedes ayudar?</h2><br><br><br><br>
  <div id="tod" *ngFor="let arre of arreglo" onclick="toogleInfo()">
    <div class="example-card" id="mat">
        <mat-card-header>
          <mat-card-title>{{arre.nombre}}</mat-card-title>
          <!--mat-card-subtitle>Dog Breed</mat-card-subtitle-->
        </mat-card-header>
        <div id="imgId">
            <img id="imgCard" src={{arre.imagen}} alt="Photo">
        </div>
      
        <mat-card-content>
          <p>
            {{arre.informacion}}
          </p>
        </mat-card-content>  
    </div>
  </div>
  

</section>


    
    

