#lista-noticias h2{
    padding-top: 10px;
    
}



#lista-noticias div img{
    width: 230px;
    height: auto;
    padding: 10px;
}
#lista-noticias div {
    display: inline-block;  
    flex-wrap: wrap;    
    text-align: center;
}




#lista-noticias div div div div{
    height: auto;
}
.example-card {
    max-width: 400px;
    position: absolute;
}
  
.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}
#mat{
    padding: 10px;
    margin-bottom: 150px;
    margin-left: 50px;
    margin-right: 50px;
    position: relative;
}   
#imgCard{
    width: 300px;
    height: auto;
    position: relative;
    margin-left: 39px;
    margin-top: 10px;
}
.full-width-boxed .vc_row, .sidebar-double .vc_row, .sidebar-left .vc_row, .sidebar-right .vc_row {
    padding-left: 0;
    padding-right: 0;
}
.vc_custom_1440643202607 {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
}

.vc_row {
    margin-bottom: 0!important;
    visibility: visible;
    margin-left: 0;
    margin-right: 0;
    padding-left: 10px;
    padding-right: 10px;
    overflow: hidden;
}
.wpb_button, .wpb_content_element, .wpb_row, ul.wpb_thumbnails-fluid>li {
    margin-bottom: 35px;
}
.vc_row {
    margin-left: -15px;
    margin-right: -15px;
}
*, :after, :before {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}