<!DOCTYPE html>

<html lang="es">
<head>
    <meta charset="utf-8" />
    <title>AdoptMe</title>
</head>

<section>
    <div class="container-fluid" id="ponerAdopcion">
        <div class="row justify-content-center">
            <div class="col-11 col-sm-9 col-md-9 col-lg-10 text-center p-0 mb-2">
                <div class="card px-0 pb-0 mb-3">
                    <h2><strong>Poner en adopción</strong></h2>
                    <div class="row">
                        <div class="col-12 col-md-12">
                            
                            <!-- flujo de proceso -->
                            <ul id="progressbar">
                                <li class="active" id="dueño"><strong>Dueño</strong></li>
                                <li id="mascota"><strong>Mascota</strong></li>
                                <li id="motivo"><strong>Motivo</strong></li>
                                <li id="guardar"><strong>Guardar</strong></li>
                            </ul> 
                        
    
                            <!-- procesos -->
                            <form id="form_persona" (ngSubmit)="onSubmit()">
                                <fieldset [formGroup]="personaFrom"> 
                                    <div class="form-card">
                                        <h2 class="fs-title mb-3">Información personal</h2> 
                                        
                                        <div class="from-row mx-md-n1">
                                            <label class="col-3 d-none d-xl-inline-block">Cédula</label> 
                                            <label class="col-4 ml-4 d-none d-xl-inline-block" for="uname">Nombres</label>
                                            <label class="col-4 ml-4 d-none d-xl-inline-block" for="ulastname">Apellidos</label> 
                                        </div>
                                        <div class="form-row">
                                            <div class="col-12 col-lg-3"><input type="text" id="cedula" name="user-cedula" placeholder="Cédula" formControlName="ucedula"/></div>
                                            <div class="col-12 col-lg-4 ml-lg-4"><input type="text" id="uname" name="uname" placeholder="Nombres" formControlName="unombres"/></div>
                                            <div class="col-12 col-lg-4 ml-lg-4"><input id="ulastname" type="text" name="ulastname" placeholder="Apellidos" formControlName="uapellidos"/></div>   
                                        </div>
                                        
                                        <div class="form-row">
                                            <label class="col-2 ml-lg-1 d-none d-xl-inline-block">Fecha Nacimiento</label>
                                            <label class="col-2  ml-lg-5 d-none d-xl-inline-block" for="gender">Género</label> 
                                        </div>
                                        <div class="form-row">
                                            <div class="col-6 col-lg-2 ml-lg-0 user-age"> <input type="text" onfocus="(this.type='date')" id="user-age" name="user-age" placeholder="Fecha Nacimiento" formControlName="unacimiento"/> </div>
                                            <div class="col-6 col-lg-1 ml-lg-5">
                                                <select formControlName="ugender" class="list-dt" id="gender" name="gender">
                                                    <option [ngValue]="null" selected>Género</option>
                                                    <option>Masculino</option>
                                                    <option>Femenino</option>
                                                    <option>Otros</option>
                                                </select>
                                            </div> 
                                        </div>

                                        <div class="from-row">
                                            <h4 class="mt-2 sm-mt-4">Contactos</h4>
                                            <label class="col-5 d-none d-xl-inline-block" for="email">Correo</label>
                                            <label class="col-3 ml-md-4 d-none d-xl-inline-block" for="phone">Teléfono</label> 
                                            <label class="col-3 ml-md-4 d-none d-xl-inline-block" for="celular">Celular</label> 
                                        </div>
                                        <div class="form-row">
                                            <div class="col-12 col-lg-5"><input type="email" id="email"  name="email" placeholder="Correo" formControlName="uemail"/> </div>
                                            <div class="col-12 col-lg-3 mx-auto mx-xl-4"><input type="tel" name="phone" id="phone" placeholder="Telefono" formControlName="utelf"></div>
                                            <div class="col-12 col-lg-3 mx-auto mx-xl-0"><input type="tel" name="celular" id="celular" placeholder="Celular" formControlName="ucelular"></div>
                                        </div>
    
                                        <div class="from-row">
                                            <label class="col-5 d-none d-xl-inline-block" for="uname">Dirección</label>
                                            <label class="col-5 ml-lg-4 d-none d-xl-inline-block" for="user-cuidad">Ciudad</label>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-12 col-xl-5"><input type="text" name="address" placeholder="Dirección" formControlName="udireccion"/></div>
                                            <div class="col-12 col-lg-3 ml-lg-4"><input type="text" id="user-cuidad" name="user-cuidad" placeholder="Cuidad" formControlName="uciudad"/></div>
                                            <div class="col-12 col-xl-2 ml-md-auto"> 
                                                <button id="location" class="btn btn-outline-dark" data-toggle="modal" data-target="#modal-mapa"> Ubicación</button>
                                            </div>
                                        </div>
    
                                    </div> 
                                    <input (click)="person_form_validator()" type="button" name="next" class="next action-button" value="Siguiente" data-toggle="modal" data-target="#alert_form"/>
                                </fieldset>
    
    
                                <fieldset [formGroup]="animalFrom">
                                    <div class="form-card">
                                        <h2 class="fs-title mb-3">Información de la mascota</h2> 
    
                                        <div class="from-row mx-md-n1">
                                            <label class="col-5 d-none d-xl-inline-block" for="pet-name">Nombre</label>
                                            <label class="col-5 ml-md-4 d-none d-xl-inline-block" for="pet-age">Edad (años)</label> 
                                            <label class="col-1 ml-5 d-none d-xl-inline-block px-md-1" for="pet-gender">Género</label> 
                                        </div>
                                        <div class="form-row">
                                            <div class="col-12 col-lg-5"> <input type="text" id="pet-name" name="pet-name" placeholder="Nombre" formControlName="anombre"/>  </div>
                                            <div class="col-12 col-lg-5 mx-auto"> <input type="number" id="pet-age" name="pet-age" placeholder="Edad" formControlName="aedad"/> </div>
                                            <div class="col-12 col-lg-1 mx-auto">
                                                <select formControlName="agenero" class="list-dt" id="pet-gender" name="pet-gender">
                                                    <option [ngValue]="null" selected>Género</option>
                                                    <option>Macho</option>
                                                    <option>Hembra</option>
                                                </select>
                                            </div> 
                                        </div>
                                        
                                        <div class="form-row">
                                            <label class="col-6 d-none d-xl-inline-block">Tipo</label>
                                            <label class="col-5 ml-1 d-none d-xl-inline-block ">Raza</label> 
                                        </div>
                                        <div class="form-row">
                                            <div class="col-12 col-lg-5 ">
                                                <input list="pet-types" name="pet-type" id="pet-type" placeholder="Tipo" formControlName="atipo">
                                                <datalist id="pet-types">
                                                <option value="Perro"></option>
                                                <option value="Gato"></option>
                                                <option value="Loro"></option>
                                                <option value="Tortuga"></option>
                                              </datalist></div>
    
                                              <div class="col-12 col-lg-5 mx-auto">
                                                <input list="type-races" name="type-race" id="type-race" placeholder="Raza" formControlName="araza">
                                                <datalist id="type-races">
                                                <option value="Labrador"></option>
                                                <option value="Schnauzer"></option>
                                                <option value="Chiguagua"></option>
                                                <option value="Pitbull"></option>
                                              </datalist></div>
                                        </div>

                                        <div class="form-row">
                                            <label class="col-6 d-none d-xl-inline-block">Color</label>
                                            <label class="col-5 ml-1 d-none d-xl-inline-block ">Esterilizado</label> 
                                        </div>
                                        <div class="form-row">
                                            <div class="col-12 col-lg-5"> <input type="text" id="pet-color" name="pet-color" placeholder="Color" formControlName="acolor"/>  </div>
                                            <div class="col-12 col-lg-5 mx-auto mb-3">
                                                <select formControlName="aesteril" class="list-dt" id="pet-esteril" name="pet-esteril">
                                                    <option [ngValue]="null" selected>Esterelizado</option>
                                                    <option>Si</option>
                                                    <option>No</option>
                                                </select>
                                            </div> 
                                        </div>

                                        <div class="form-row">
                                            <div class="col-1" id="pet-picture"></div>
                                            <div class="col"><input type="file" name="picture" id="picture" formControlName="afoto"/></div>
                                            <!-- <h6 id="pet-images"></h6> -->
                                        </div>
    
                                    </div> 
                                    <input type="button" name="previous" class="previous action-button-previous" value="Atrás" /> 
                                    <input (click)="animal_form_validator()" type="button" name="next" class="next action-button" value="Siguiente" data-toggle="modal" data-target="#alert_form"/>
                                </fieldset>
    
                                <fieldset [formGroup]="motivoFrom">
                                    <div class="form-card">
                                        <div class="form-group">
                                            <h2 class="fs-title mb-3">Motivo de la adopción</h2>
                                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Motivo" formControlName="motivo"></textarea>
                                        </div>
                                    </div>
                                    <input type="button" name="previous" class="previous action-button-previous" value="Atrás" /> 
                                    <input (click)="motivo_form_validator()" type="button" name="save" class="next action-button" value="Guardar" data-toggle="modal" data-target="#alert_form"/>
                                </fieldset>
    
                                <fieldset>
                                    <div class="form-card">
                                        <h2 class="fs-title text-center">Guardado con éxito !</h2> <br><br>
                                        <div class="row justify-content-center">
                                            <div class="col-6 col-lg-2"> <img src="https://img.icons8.com/color/96/000000/ok--v2.png" class="fit-image" alt="Guarda exitoso"> </div>
                                        </div> <br><br>
                                        <div class="row justify-content-center">
                                            <div class="col-7 text-center">
                                                <h5>Adopción registrada</h5>
                                            </div>
                                        </div>
                                    </div>
                                    <input type="button" name="finish" class="submit action-button" value="Finalizar"/>
                                </fieldset>
                                <p id="errorAdopcion" >{{errorForm}}</p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>  
        </div>
    </div>
    
    
    <div class="modal" id="modal-mapa" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" id="modal">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Ubicación</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <!-- <form>
                    <label for="latitude">Latitude:</label>
                    <input id="latitude" type="text" />
                    <label for="longitude">Longitude:</label>
                    <input id="longitude" type="text" />
                    :: <a href="#" onclick="map.zoomOut(3, {animate:true})">zoom out</a> :: 
                    :: <a href="#" onclick="map.zoomIn(3, {animate:true})">zoom in</a>
                </form> -->
                <div id="map"></div>
          
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
              <button type="button" class="btn btn-success">Guardar</button>
            </div>
          </div>
        </div>
      </div>
</section>


    <!-- Modal Alert Form -->
  <div *ngIf="errorForm=='si'" class="modal fade" id="alert_form" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Error</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            Falta llenar Datos o hay datos incoherentes, por favor revisar.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
</div>


</html>