<!DOCTYPE html>

<html lang="es">
<head>
    <meta charset="utf-8" />
     
    <title>AdoptMe</title>
</head>

<section id="orga" class="col-12">
    <br>
</section>



<section id="lista-organizaciones" class="col-12">
    <div class="col-12">
        <div class="overlay"></div>

        <h2 class="text-center">¡Nuestras Organizaciones!</h2><br>
        <div class="col-12">
            
            <div *ngFor="let organizacion of organizaciones" onclick="toogleInfo()" id="tod">
              
                    <h4 class="card-title">{{organizacion.nombre}}</h4><br>
                    <p class="card-text"><b>Tipo: </b> {{organizacion.tipo}}</p><br>
                    <p class="card-text"><b>Contacto: </b> {{organizacion.contacto}}</p><br>
                    
                
                    <img src={{organizacion.imagen}} alt="Card image cap"><br>

                    <!--div id="popup">
                        <div class="close-btn" onclick="toogleInfo()">&times;</div>
                        <p class="card-text">Informacion: {{organizacion.informacion}}</p>
                    </div-->
            </div>
        </div>

        
    </div>
</section>